<div class="sliderDirective">
  <h1>Basic carousel</h1>
  <div class="jcarousel-wrapper">
      <div class="jcarousel">
          <ul>
              <li ng-repeat="item in slideItems">
                <img ng-src="{{item.url}}" width="900" height="400" alt="">
              </li>
          </ul>
      </div>

      <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
      <a href="#" class="jcarousel-control-next">&rsaquo;</a>

      <p class="jcarousel-pagination">

      </p>
  </div>
</div>